h1 {
  text-align: center;
  color:#ff6666;
font-family: 'PT Sans Narrow'
}

h4 {
  color:##00BFFF;
}
h5 {
  text-align:center;
  font-family: 'merriweather;'}

p {
  font-family: 'merriweather'}

  <!-- The fonts and colors were not cooperating -->
